$dark-gray: #1c1c1c;
$font-light: 400;


.services {
    max-width: 1000px;
    margin: 2rem auto;
    text-align: center;
    color: $dark-gray;


    .title {
        padding: 1rem 0;
    }

    .sub-title {
        font-weight: $font-light;
    }

    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 3rem 0;


        @media (max-width:900px) {
            flex-direction: column;
            align-items: center;
        }

        >div {
            flex-basis: 45%;

            @media (max-width:900px) {
                flex-basis: 100%;
            }
        }


        img {
            width: 80%;
            height: 80%;
            border-radius: 20px;
            margin: 0 auto;
        }

        div {
            text-align: start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 240px;
            gap: 2rem;

            @media (max-width:900px) {
                text-align: center;
                max-width: 600px;
                padding: 1rem;
            }

            h3 {
                font-size: 1.5rem;

            }

            p {
                font-weight: $font-light;
            }
        }
    }
}